<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="Error" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="./logerror/" />
    <param name="AppendToFile" value="true" />
    <param name="RollingStyle" value="Composite" />
    <param name="MaxSizeRollBackups" value="100" />
    <param name="MaximumFileSize" value="2MB" />
    <param name="StaticLogFileName" value="false" />
    <param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d %p %c %M - %m%n" />
    </layout>
  </appender>
  <appender name="Info" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="./loginfo/" />
    <param name="AppendToFile" value="true" />
    <param name="RollingStyle" value="Composite" />
    <param name="MaxSizeRollBackups" value="100" />
    <param name="MaximumFileSize" value="2MB" />
    <param name="StaticLogFileName" value="false" />
    <param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d %p %c %M - %m%n" />
    </layout>
  </appender>
  <root>
    <level value="Info" />
    <appender-ref ref="Info" />
    <appender-ref ref="Error" />
  </root>
  <logger name="Error">
    <level value="Error" />
    <appender-ref ref="Error" />
  </logger>
</log4net>